/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
}

main{
    /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    background-color: blanchedalmond;
    background-color: white;
}

ul li{
    position: relative;
    list-style: none;
    font-size: 1.2rem;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}

ul li::before{
    content: '';
    position: absolute;
    top: 12px;
    left: 8px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(uncheck.svg);
    background-size: cover;
    background-position: center;
}

ul li.checked{
    color: green;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(check.svg);
}